@import "tailwindcss";

::-webkit-scrollbar{
    width:1px;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #8b5cf6, #ec4899);
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    background: #0f172a;
    border-radius: 10px;
}